.navbar {
    position: fixed;
    width: 100%;
    background-color:black;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    top:0;
    left:0;
    right:0;
}
.space-top{
    background-color: white;
    height: 100px;
    width:100%;
}

.navbar-element {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    font-family: 'Helvetica';
    margin-right: 10px; 
}

.logo-navbar {
    width: 70px;
    margin-right: 20px; 
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 500px) {
    #menu {
    display: block;
    }
}

.main-news{
    border:10px solid gray;
    margin:auto;
    height:600px;
    width:80%;
    
}


.articolo-principale{
    background-image: url(https://resources.motogp.pulselive.com/photo-resources/2024/03/23/991adb13-9465-4389-a63d-b2aa8aa76c87/_LGZ2154.jpg?width=3840&height=2160);
    background-size: cover;
    height:100%;
    position:relative;
    z-index:-2;
}

.overlay-main-news{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    top:0;
    left:0;
}

.main-news h1{
    margin:0px;
    color:white;
    font-family: 'Homenaje', helvetica;
    font-size:4em;
    padding-top: 200px;
    text-align: center;
}



.slider-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:200px;
    width:100%;
    background-color: white;
}

.slider-element{
    width:20%;
    height:auto;
    background-color: darkred;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:30px;
    padding-bottom:30px;
    border-radius:20px;
    text-align: center;
    margin-bottom: 3px;

}

.slider-element a{
    text-decoration:none;
    color:white;
    font-family: 'Homenaje',Helvetica;
    font-size:22px;
    
}


/* Media query per schermi di larghezza inferiore a 1200px */
@media (max-width: 1200px) {
    .slider-element {
        width: 32%; /* 3 elementi per riga */
    }
    .slider-container{
        height: auto;
    }
}

/* Media query per schermi di larghezza inferiore a 900px */
@media (max-width: 900px) {
    .slider-element{
        width: 48%; /* 2 elementi per riga */
    }
    .slider-container{
        height: auto;
    }
}

/* Media query per schermi di larghezza inferiore a 600px */
@media (max-width: 600px) {
    .slider-element {
        width: 100%; /* 1 elemento per riga */
    }
    .slider-container{
        height: auto;
        margin-bottom: 50px;
    }
}




#pubblicita{
    margin: 80px;
    width:80%;
    height:100px;
}


#pubblicita img{
    height:100px;
    width:100%;
}






.logo-motogp{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    height:100px;
    width:100%;
    
}


.logo-motogp img{
    height:80px;
    width:80px;
}


.partnership{
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
}

.sponsor{
    background-color: white;
    box-sizing: border-box; /* Assicura che il margine non aumenti la larghezza dell'elemento */
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
}


.sponsor img{
    display:flex;
    align-items:center;
    justify-content:space-around;
    
}





@media(max-width:1200px){
    .sponsor,.sponsor img {
        height: 60px;
    }
}
@media(max-width:900px){
    .sponsor,.sponsor img {
        height: 40px;
    }
}
@media(max-width:600px){
    .sponsor,.sponsor img {
        height: 20px;
    }
}



footer{
    height:200px;
}

.footer-title{
    text-decoration:none;
    color:black;
    font-weight: bold;
}

.footer-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.footer-container{
    background-color: white;
}

.footer-section{
    background-color: white;
}
.footer-title{
    background-color: white;
}

.footer-section a{
    text-decoration:none;
    color:black;
}



.social-container{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-element{
    background-color: white;
}

.social-element img{
    height:50px;
}


@media(max-width:1200px){
    .social-element,.social-element img {
        height: 60px;
    }
}
@media(max-width:900px){
    .social-element,.social-element img {
        height: 40px;
    }
}
@media(max-width:600px){
    .social-element,.social-element img {
        height: 20px;
    }
}


.app-container{
    background-color: white;
    height:100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.app-element img{
    height:50%;
}

.app-element{
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.title{
    font-weight: bold;
    background-color: white;
    color:black;
    font-family:'Homenaje', helvetica;
    font-size:40px;
}



@media(max-width:1200px){
    .app-element,.app-element img {
        height: 60px;
    }
    .title{
        font-size: 30px;
    }
}
@media(max-width:900px){
    .app-element,.app-element img{
        height: 40px;
    }
    .title{
        font-size: 25px;
    }
}
@media(max-width:600px){
    .app-element,.app-element img {
        height: 20px;
    }
    .title{
        font-size: 20px;
    }
}


.copyright{
    display:inline;
    height: 20px;
    background-color: white;
    color: rgb(51, 51, 51);
    font-size: 20px;
}



@media(max-width:1200px){
    .copyright{
        font-size: 16px;
    }
}
@media(max-width:900px){
    .copyright{
        font-size: 12px;
    }
}
@media(max-width:600px){
    .copyright{
        font-size: 10px;
    }
}

