body {
    background-color: #000;
    color: #fff;
    font-family: 'Varela Round', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

main.login {
    width: 300px;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h5, h4 {
    margin: 0 0 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type='text'],
input[type='password'] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: darkred;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type='submit']:hover {
    background-color: #8b0000;
}

.signup-btn {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: darkred;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.signup-btn:hover {
    background-color: #8b0000;
}

.signup-btn-container {
    margin-top: 20px;
}

.signup h4 {
    margin-top: 20px;
}
