/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-element {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: 'Helvetica';
    margin-right: 10px;
}

.logo-navbar {
    width: 70px;
    margin-right: 20px;
}


/* Logo MotoGP */
.logo-motogp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
}

.logo-motogp img {
    height: 80px;
    width: 80px;
}
body{
    background-color: white;
    margin: 0;
    font-family: helvetica;
    color: black;
  }

  header nav{
    
    background-color: white;
    height: 26%;
  }
  #links a:visited { 
    text-decoration: none; 
    color: white; 
  }
  .nav-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  #logo{
    font-size: 36px;
    font-weight: bold;
  }
  
  #links a{
    margin: 15px;
    text-decoration: none;
  }
  
  @media (max-width: 500px) {
    #links {
      display: none;
    }
  }
  
  #separator{
    display: inline-block;
    height: 16px;
    width: 1px;
    background: currentColor;
  }
  
  #menu {
    display: none;
  }
  
  #menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  @media (max-width: 500px) {
    #menu {
      display: block;
    }
  }
  
  
  h1{
      font-size: 72px;
  }



/* User Info */

.userInfo {
    text-align: center;
    margin-top: 80px; 
    font-family: 'Helvetica';
    color: black;
}




/* Account Info */
.account {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    background-color: white;
    text-align: left;
    font-family: 'Helvetica';
}

.account p {
    font-size: 1.2em;
    color: black;
}







/* PrefInfo */
.prefInfo {
    text-align: center;
    margin-top: 20px; /* Aggiunto spazio in alto per separarlo dagli altri elementi */
    font-family: 'Helvetica';
    color: black;
}

/* Race */
.race {
    margin: 20px auto; /* Aggiunto margine per centrare il contenuto */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    background-color: white;
    text-align: left;
    font-family: 'Helvetica';
}

.race em {
    font-style: italic;
}

.circuit-list {
    margin-top: 10px;
}

.circuit-item {
    margin-bottom: 5px;
}











  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center
  }
  
  @media (max-width: 500px) {
    .container{
      height: auto;
      flex-direction: column;
    }
  }

  #results{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 10px;
  }

  .track{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 20%;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    transition: width 0.2s, background-color 0.2s;
  }
  
  .track:hover{
    background-color: #e2e4ec;
  }

  .trackInfo{
    display: flex;
    flex-direction: column;
  }

  .trackInfo:hover + .saveForm{
    opacity: 1;
  }

  .saveForm{
    opacity: 0;
  }

  .saveForm:hover{
    opacity: 1;
  }

  .save{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    transition: opacity 0.3s;
    margin-left: -60px;
    margin-top: 200px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    border: none;
    background: white url(assets/heart.svg) 10px 12px no-repeat;
    background-size: 30px 30px;
  }

  .saveIcon{
    margin-left: -50px;
    padding-top: 212px;
    width: 30px;
    box-shadow: none;
    position: absolute;
  }
  
  .artistaInfo, .canzoneInfo{
    display: none;
  }
  
  .artistaInfo p{
    margin-top: 0;
  }

  .infoContainer{
    min-height: 62px;
  }
  
  .show{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .selected{
    position: fixed;
    width: 50%;
    height: auto;
    z-index: 10;
    left: 25%;
    top: 25%;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
  }
  
  .unselected{
    height: 50%;
  }
  
  @media (max-width: 500px) {
    .artisti, .canzoni {
      width: auto;
      margin: 0 auto 30px;
    }
  }

  .track a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 16px;
  }
  
  strong{
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .showTitle{
    overflow: visible;
  }

  img{
    width: 100%;
    max-width: 260px;
    transition: width 0.2s;
  }
  
  .img-selected{
    width: 80%;
    max-width: 260px;
  }

  .infoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    }
    
    .infoSelected{
    width: 80%;
    display: flex;
    flex-direction: row;
    }
    
    .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 230px;
    }

    .nores{
        font-size: 24px;
        margin-top: 50px;
    }
  
  #overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }

  .hidden{
    display:none;
    }




    /* Logo MotoGP */
.logo-motogp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top:26px;
}

.logo-motogp img {
    height: 80px;
    width: 80px;
}

/* Partnership */
.partnership {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
}

.sponsor {
    background-color: white;
    box-sizing: border-box; /* Assicura che il margine non aumenti la larghezza dell'elemento */
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
}

.sponsor img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width:1200px) {
    .sponsor, .sponsor img {
        height: 60px;
    }
}
@media(max-width:900px) {
    .sponsor, .sponsor img {
        height: 40px;
    }
}
@media(max-width:600px) {
    .sponsor, .sponsor img {
        height: 20px;
    }
}

/* Footer */
footer {
    height: 200px;
    background-color: white;
}

.footer-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.footer-section a {
    text-decoration: none;
    color: black;
}

/* Social Container */
.social-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-element {
    background-color: white;
}

.social-element img {
    height: 50px;
}

@media(max-width:1200px) {
    .social-element, .social-element img {
        height: 60px;
    }
}
@media(max-width:900px) {
    .social-element, .social-element img {
        height: 40px;
    }
}
@media(max-width:600px) {
    .social-element, .social-element img {
        height: 20px;
    }
}

/* App Container */
.app-container {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.app-element img {
    height: 50%;
}

.app-element {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.title {
    font-weight: bold;
    background-color: white;
    color: black;
    font-family: 'Homenaje', helvetica;
    font-size: 40px;
}

@media(max-width:1200px) {
    .app-element, .app-element img {
        height: 60px;
    }
    .title {
        font-size: 30px;
    }
}
@media(max-width:900px) {
    .app-element, .app-element img {
        height: 40px;
    }
    .title {
        font-size: 25px;
    }
}
@media(max-width:600px) {
    .app-element, .app-element img {
        height: 20px;
    }
    .title {
        font-size: 20px;
    }
}

/* Copyright */
.copyright {
    display: inline;
    height: 20px;
    background-color: white;
    color: rgb(51, 51, 51);
    font-size: 20px;
}

@media(max-width:1200px) {
    .copyright {
        font-size: 16px;
    }
}
@media(max-width:900px) {
    .copyright {
        font-size: 12px;
    }
}
@media(max-width:600px) {
    .copyright {
        font-size: 10px;
    }
}
